# .gitignore

# ------------------------------------------------------
# General ignores that apply to the entire project
# ------------------------------------------------------
# dependencies
/frontend/node_modules
/backend/venv
/backend/.venv
# Python bytecode files
/backend/__pycache__/
# OS-specific
.DS_Store
*.pem


# ------------------------------------------------------
# Next.js Frontend-specific files
# ------------------------------------------------------
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*


# ------------------------------------------------------
# Environment files (important!)
# ------------------------------------------------------
# The .env file in the root is for Docker Compose
/.env
# Specific .env files for each service
/frontend/.env.local
/backend/.env